/*
Theme Name: Trippnology
Theme URI: http://trippnology.com
Author: Rikki Tripp - Trippnology
Author URI: http://trippnology.com
Description: The Trippnology company website
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: trippnology
Tags:

Colours:
  Burgundy: #332532
  Grape: #634C52
  Bright Orange: #F87A52
  Light Orange: #FF974E
  Grey: #A59A88

_s is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@font-face {
	font-family: "MetaPro-Bold";
	src: url('https://cdn.trippnology.com/fonts/metapro-bold.eot');
	src: url('https://cdn.trippnology.com/fonts/metapro-bold.eot?#iefix') format('embedded-opentype'),
		 url('https://cdn.trippnology.com/fonts/metapro-bold.svg#metapro-bold') format('svg'),
		 url('https://cdn.trippnology.com/fonts/metapro-bold.woff') format('woff'),
		 url('https://cdn.trippnology.com/fonts/metapro-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "museo_sans_300regular";
	src: url('https://cdn.trippnology.com/fonts/museosans-300-webfont.eot');
	src: url('https://cdn.trippnology.com/fonts/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://cdn.trippnology.com/fonts/museosans-300-webfont.svg#museo_sans_300regular') format('svg'),
		 url('https://cdn.trippnology.com/fonts/museosans-300-webfont.woff') format('woff'),
		 url('https://cdn.trippnology.com/fonts/museosans-300-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html { font-size: 16px; }
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: museo_sans_300regular, sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: MetaPro-Bold;
	color: #332532;
	clear: both;
}

p {
	margin-bottom: 1em;
}

.lead { font-size: 1.125em; }
@media (min-width: 48em) {
	.lead { font-size: 1.25em; }
}
@media (min-width: 62em) {
	.lead { font-size: 1.375em; }
}

dfn,
cite,
em,
i {
	font-style: italic;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
	background-image: url("https://cdn.trippnology.com/img/lil_fiber.png");
	background-repeat: repeat;
	background-size: auto auto;
	background-attachment: fixed;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0;
	padding-left: 0.25em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	max-width: 100%; /* Adhere to container width. */
	height: auto; /* Make sure images are scaled correctly. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a, a:visited {
	color: #F87A52;
	text-decoration: none;
}

a.btn-success:visited {
	color: #fff;
}

a:focus,
a:hover,
a:active {
	color: #634C52;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
 .main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.menu-main-menu-container { margin-top: 0.5em; }

.main-navigation ul {
	display: none;
	margin: 0;
	border: 1px solid #ddd;
	border-radius: 0.25em;
	padding-left: 0;
	background: #fff;
	list-style: none;
}

/* .main-navigation li {
	float: left;
	position: relative;
}*/

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Override bootstrap */
.nav > li > a { padding: 0.75em 0.5em; }

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 2.5em;
	left: -999em;
	z-index: 99999;
	padding: 0.5em;
	background: #fff;
	border-radius: 0 0 0.25em 0.25em;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
}

/* Small menu. */
.menu-toggle { margin: 0 auto; }
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 48em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.widget ol, .widget ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.content-area { background: rgba(255,255,255,0.3); } /* Improve reading ease */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 3em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-footer span { /* A little margin for tags and categories */
	margin-right: 0.25em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* Branding */
.logo-column, .site-branding { text-align: center; }
	.site-title {
		margin: 0.25em 0;
		font-size: 2.5em;
		font-family: "MetaPro-Bold";
		line-height: 1.5;
	}
@media (min-width: 62em) {
	.logo-column, .site-branding { text-align: left; }
}
	img[itemprop="logo"] {
		max-width: 100%;
		margin: 1em 0 0;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
		border: 1px solid #634C52;
		border: 1px solid rgba(0, 0, 0, 0.2);
		padding: 0.375em;
		background-color: #fff;
		border-radius: 0.8em;
	}
@media (min-width: 48em) {
	img[itemprop="logo"] { margin: 1em 0; }
}

/* Footer */
.site-footer { text-align: center; }
	.site-info .lead { margin-bottom: 0.5em; }
	.site-info ul { margin-bottom: 1em; }

/* Featurettes
------------------------- */
.featurette {
	/*padding-top: 1em;  Vertically center images part 1: add padding above and below text. */
	overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette:last-child { margin-bottom: 3em; }
	.featurette .col-sm-3 { text-align: center; }
	.featurette-heading {
		font-size: 3em;
		font-weight: 300;
		line-height: 1;
		letter-spacing: -1px;
	}
	.featurette-heading-mini {
		margin-bottom: 0.5em;
		font-family: "MetaPro-Bold";
		font-size: 1.5em;
		font-weight: 300;
		line-height: 1;
	}
	.featurette ol.lead li { margin-bottom: 0.5em; }
	.featurette-image {
		margin-top: 2em; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
		width: 256px;
	}
	.featurette-image-mini {
		width: 128px;
		height: 128px;
		margin-bottom: 1em;
	}
	/* Give some space on the sides of the floated elements so text doesn't run right into it. */
	.featurette-image.pull-left {
		margin-right: 3em;
	}
	.featurette-image.pull-right {
		margin-left: 3em;
	}
@media (min-width: 62em) {
	.featurette-heading { font-size: 3.75em; }
}
@media (min-width: 75em) {
	.featurette-heading { font-size: 4.25em; }
}

/* Portfolio */
.portfolio-item {
	margin-bottom: 1em;
	text-align: center;
}
	.portfolio-image { margin-bottom: 0.5em; }
	.portfolio-link {
		margin-bottom: 0.25em;
		font-weight: bold;
	}
@media (min-width: 48em) {
	.portfolio-item {
		min-height: 357px;
		text-align: left;
	}
}

/* Dividers */
.divider {
	margin: 0.5em auto; /* Space out the <hr> more */
	width: 80%;
	height: 0.25em;
	border: 0;
	background: rgb(51,37,50); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(51,37,50,1) 0%, rgba(51,37,50,1) 20%, rgba(99,76,82,1) 20%, rgba(99,76,82,1) 40%, rgba(248,122,82,1) 40%, rgba(248,122,82,1) 60%, rgba(255,151,78,1) 60%, rgba(255,151,78,1) 80%, rgba(165,154,136,1) 80%, rgba(165,154,136,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,37,50,1)), color-stop(20%,rgba(51,37,50,1)), color-stop(20%,rgba(99,76,82,1)), color-stop(40%,rgba(99,76,82,1)), color-stop(40%,rgba(248,122,82,1)), color-stop(60%,rgba(248,122,82,1)), color-stop(60%,rgba(255,151,78,1)), color-stop(80%,rgba(255,151,78,1)), color-stop(80%,rgba(165,154,136,1)), color-stop(100%,rgba(165,154,136,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(51,37,50,1) 0%,rgba(51,37,50,1) 20%,rgba(99,76,82,1) 20%,rgba(99,76,82,1) 40%,rgba(248,122,82,1) 40%,rgba(248,122,82,1) 60%,rgba(255,151,78,1) 60%,rgba(255,151,78,1) 80%,rgba(165,154,136,1) 80%,rgba(165,154,136,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(51,37,50,1) 0%,rgba(51,37,50,1) 20%,rgba(99,76,82,1) 20%,rgba(99,76,82,1) 40%,rgba(248,122,82,1) 40%,rgba(248,122,82,1) 60%,rgba(255,151,78,1) 60%,rgba(255,151,78,1) 80%,rgba(165,154,136,1) 80%,rgba(165,154,136,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(51,37,50,1) 0%,rgba(51,37,50,1) 20%,rgba(99,76,82,1) 20%,rgba(99,76,82,1) 40%,rgba(248,122,82,1) 40%,rgba(248,122,82,1) 60%,rgba(255,151,78,1) 60%,rgba(255,151,78,1) 80%,rgba(165,154,136,1) 80%,rgba(165,154,136,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(51,37,50,1) 0%,rgba(51,37,50,1) 20%,rgba(99,76,82,1) 20%,rgba(99,76,82,1) 40%,rgba(248,122,82,1) 40%,rgba(248,122,82,1) 60%,rgba(255,151,78,1) 60%,rgba(255,151,78,1) 80%,rgba(165,154,136,1) 80%,rgba(165,154,136,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#332532', endColorstr='#a59a88',GradientType=1 ); /* IE6-9 */
}
.divider.large { margin: 4em auto; }

/* Embedded Gists */
.gist .gist-file article.markdown-body {
	padding: 0.5em 2em;
	font-family: inherit;
}
.gist .markdown-body p { font-family: museo_sans_300regular; }

/* Snow */
canvas.snow {
	position: fixed;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 9999;
}

/** Page specific */
.contact-info { text-align: center; }
.qrcode { text-align: justify; }
.wpcf7-form { margin-top: 1em; }
.intro { text-align: center; }
.about-bullets { margin-bottom: 1em; }
	.about-bullets li { margin-bottom: 1em; }

/* Web Design */
.project-link {
	margin-bottom: 0.25em;
	font-size: 1.25em;
}
.project-tags { margin-bottom: 0.5em; }
	.project-tag {
		background: #ddd;
		padding: 0.25em 0.375em;
		border-radius: 0.25em;
		border: 1px solid #bbb;
	}

/* Prices */
.price-table-web th { text-align: center; }
.price-table-web td { color: #fff; }
.price-table-web + p { text-align: right; font-size: 0.8em; }

/* The Shed */
.desc { margin: 0 0.5em; }
.coderwall li {
	max-width: 15%;
	float: left;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Round Corners */
.roundsm {
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
	-webkit-background-clip: padding-box;
	   -moz-background-clip: padding;
			background-clip: padding-box;
}
.roundlrg {
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
			border-radius: 10px;
	-webkit-background-clip: padding-box;
	   -moz-background-clip: padding;
			background-clip: padding-box;
}

/* Utilities */
.center { text-align: center; }
.border-dark { border: 1px solid #444; }
.border-light { border: 1px solid #ccc; }

/* Colours */
.burgundy { background-color: #332532; }
.grape { background-color: #634C52; }
.brightorange { background-color: #F87A52; }
.lightorange { background-color: #FF974E; }
.grey { background-color: #A59A88; }
.white { background-color: #fff; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/* Plugins */
/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.2
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:100%;
	background:url(img/ui/totop.png) no-repeat left top;
}

#toTopHover {
	background:url(img/ui/totop.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}
